# Data Cleaning

In [1]:
import pandas as pd

# Loading the dataset.
data = pd.read_csv("final_merged_data.csv")

# Handling missing values by dropping rows with NaN.
data.dropna(inplace = True)

In [2]:
# Creating a new column for average air temperature.
data["avg_air_temp"] = (data["max_air_temperature_celsius"] + data["min_air_temperature_celsius"]) / 2

# Creating a new column for average humidty.
data["avg_humidity"] = (data["max_relative_humidity_percent"] + data["min_relative_humidity_percent"]) / 2

# Updating the CSV.
data.to_csv("final_merged_data.csv", index=False)

Next, any unusable or irrelevant columns will be removed based on the data available from OpenWeather and whether the column has already contributed to the calculation of another feature, as shown above.

In [3]:
# Filtering which features to keep below.
new_columns = ["last_reported", "station_id", "num_bikes_available", "num_docks_available", "year", "month", "day", "hour", "minute", "avg_air_temp", "avg_humidity"]

# Keeping features as above.
cleaned_data = data[new_columns].copy()

In [4]:
# Let's examine data types and columns of new DataFrame.
cleaned_data.dtypes

last_reported           object
station_id               int64
num_bikes_available      int64
num_docks_available      int64
year                     int64
month                    int64
day                      int64
hour                     int64
minute                   int64
avg_air_temp           float64
avg_humidity           float64
dtype: object

In [5]:
# Changing column name for clarity and data type.
cleaned_data["time"] = pd.to_datetime(cleaned_data["last_reported"], dayfirst=True, errors='coerce')

# Dropping rows where 'time' could not be parsed
cleaned_data.dropna(subset=["time"], inplace=True)

# Dropping old column.
cleaned_data.drop(columns=["last_reported"], inplace=True)

In [6]:
# Checking if the above worked.
cleaned_data.dtypes

station_id                      int64
num_bikes_available             int64
num_docks_available             int64
year                            int64
month                           int64
day                             int64
hour                            int64
minute                          int64
avg_air_temp                  float64
avg_humidity                  float64
time                   datetime64[ns]
dtype: object

In [7]:
# Adding another feature for day name representing week day number. Here "0" represents Sunday, "1" represents Monday, and so on.
cleaned_data["day_name"] = cleaned_data["time"].dt.dayofweek

# Converting new feature to "category" type as there are limited possible values.
cleaned_data["day_name"] = cleaned_data["day_name"].astype('category')

In [8]:
# Checking if it worked.
cleaned_data.dtypes

station_id                      int64
num_bikes_available             int64
num_docks_available             int64
year                            int64
month                           int64
day                             int64
hour                            int64
minute                          int64
avg_air_temp                  float64
avg_humidity                  float64
time                   datetime64[ns]
day_name                     category
dtype: object

In [9]:
# Let's examine top 10 rows of data.
cleaned_data.head(10)

,station_id,num_bikes_available,num_docks_available,year,month,day,hour,minute,avg_air_temp,avg_humidity,time,day_name
0,10,15,1,2024,12,1,0,10,13.955,83.75,2024-12-01 00:10:00,6
1,100,17,8,2024,12,1,0,10,13.955,83.75,2024-12-01 00:10:00,6
2,109,20,9,2024,12,1,0,10,13.955,83.75,2024-12-01 00:10:00,6
3,11,1,29,2024,12,1,0,10,13.955,83.75,2024-12-01 00:10:00,6
4,114,4,36,2024,12,1,0,10,13.955,83.75,2024-12-01 00:10:00,6
5,116,2,28,2024,12,1,0,10,13.955,83.75,2024-12-01 00:10:00,6
6,13,0,30,2024,12,1,0,10,13.955,83.75,2024-12-01 00:10:00,6
7,14,21,9,2024,12,1,0,10,13.955,83.75,2024-12-01 00:10:00,6
8,15,1,15,2024,12,1,0,10,13.955,83.75,2024-12-01 00:10:00,6
9,17,3,17,2024,12,1,0,10,13.955,83.75,2024-12-01 00:10:00,6

Data has been cleaned and reorganised, the new feature has been added successfully as can be seen above. The cleaned CSV file can be saved now.

In [10]:
# Saving to a new CSV.
cleaned_data.to_csv("cleaned_historical_weather_data.csv", index=False)